### This pogram will be used to practice loops

In [ ]:
#print all letters in word 
word = input("Type a word please: ")

print(' ')

for letter in word:
    print(letter)

In [ ]:
l_range = list(range(20))
print(l_range)

for number in l_range:
    print(number)

In [22]:
my_list = list(range(20))

number = input('Type a number: ')

number = int(number)

if number in my_list:
    print(number, " is in list")
else:
    print(number, ' is not in list')

Type a number:  25

25  is not in list

In [33]:
#append list to a df 
import pandas as pd

df = pd.DataFrame()

df = df.append(my_list)

df

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19